{% extends "base.html" %}
{% block content %}
    <h1>Add Expense</h1>
    <form method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.amount.label }} {{ form.amount(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.description.label }} {{ form.description(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.project.label }} {{ form.project(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}